<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
     <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
          <% gossips.each_with_index do |gossip| %>
            <a href="/shows"</a>
            <% end %>
        </p>
      <% end %>
    <a href="/gossips/new/">le texte du lien</a>
  </body>
</html>
