<html>
  <head>
    <title> The Gossip Project </title>
  </head>
  
  <body>
       <h1>Potin n° <%= params[:id] %> </h1>
       <p><br> auteur : <%= gossip.author%><br> contenu : <%= gossip.content%> <br> </p>
    </form>
    <a href ="http://localhost:4567">Revenir à l'index</a>
      </body>
</html>
